.icon-search{
    width: 30px;
    height: 30px;
}

.icon-close{
    display: none;
}

#search-input{
    width: 300px;
    height: 40px;
    margin-top: -42px;
    display: block;
    border-radius: 30px;
    border: 1px solid $primary-color;
    padding-left: 40px;
    font-family: $font-stack;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    outline: none;
}

.container-sugerencias{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 1px $primary-color solid;
    display: none;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.textoSugerenciaStyle {
    color: grey;
    font-family: $font-stack;
    margin: 15px 0px 0px 20px;
    font-size: 13px;
    font-weight: medium;
}

.textoSugerenciaStyle:hover {
    color: black;
}

.titulo-busqueda{
    color:$primary-color;
    text-align: center;
    font-family: $font-stack;
    margin-top: 20px;
}
.results{
    display: grid;
    grid-template-columns: 100px 120px;
    grid-template-rows: 100px 100px;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.linea-divisora{
    background-color: #9CAFC3;
    width: 160px;
    height: 1px;
    display: block;
    margin: auto;
    margin-top: 20px;
    opacity: 50%;
}
.gifresults{
    width: 120px;
    height: 120px;
}

#searchBtn{
    margin-top: -30px;
    position: absolute;
    left: 50%;
    margin-left: 115px;
    border: none;
    background-color: transparent;
}

.icon-search{
    width: 15px;
    height: 15px;
}

.vermas{
    width: 100px;
    height: 40px;
    border: 2px solid $primary-color;
    border-radius: 50px;
    background-color: white;
    color: $primary-color;
    position: relative;
    left: 50%;
    margin: 30px 0px 0px -50px;
    font-size: 16px;
    font-family: $font-stack;
    display: block;
}

.vermas:hover {
    background-color: $primary-color;
    color: white;
}

@media (min-width: 800px){
#search-input{
    width: 500px;
    margin-top: -57.5px;
    margin-left: -250px;
}

#searchBtn{
    margin-top: -45px;
    margin-left: 220px;
}

.results{
    grid-template-columns: 170px 170px 170px 170px;
    grid-template-rows: 170px 170px;
}

.gifresults{
    width: 170px;
    height: 170px;
}

.linea-divisora{
    width: 260px;
}
}