.linea_cabecera {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

.logo-desktop {
  width: 56px;
  height: 49px;
  margin: 15px 0px 10px 15px;
}

header {
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.site-nav ul {
  list-style: none;
}

.linea-menu {
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin: auto;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #fff;
  display: block;
  padding: 2em 6em;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.site-nav a:hover, .site-nav a:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.site-nav {
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
  background-color: #572EE5;
  opacity: 0.9;
  width: 100%;
  height: 1000%;
  -webkit-clip-path: circle(0px at top);
          clip-path: circle(0px at top);
  -webkit-transition: -webkit-clip-path ease-in-out 700ms;
  transition: -webkit-clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
  padding-bottom: 20px;
}

.site-nav-open {
  -webkit-clip-path: circle(150% at top);
          clip-path: circle(150% at top);
}

.menu-toggle {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 20px 10px 0px 0px;
  width: 20px;
  height: 20px;
}

.menu-open .hamburguer {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .hamburguer::before {
  opacity: 0;
}

.menu-open .hamburguer::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg);
}

.hamburguer, .hamburguer::before, .hamburguer::after {
  content: '';
  display: block;
  background-color: #572EE5;
  height: 3px;
  width: 20px;
  border-radius: 10px;
}

.hamburguer::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.hamburguer::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.boton-agregar {
  display: none;
}

@media (min-width: 800px) {
  .menu-toggle {
    display: none;
  }
  .site-nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    margin-top: 10px;
    -webkit-clip-path: initial;
            clip-path: initial;
    display: block;
  }
  .site-nav li {
    display: inline-block;
    border: none;
  }
  .site-nav a {
    padding: 0;
    margin-left: 20px;
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  .site-nav a:hover {
    border-bottom: 2px solid #00F3BB;
  }
  .site-nav a:active {
    color: grey;
    border-bottom: 0px;
  }
  .linea-menu {
    display: none;
  }
  .contenedor-logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
  }
  .logo-desktop {
    margin-left: 100px;
  }
  .boton-agregar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    display: block;
    background-color: #fff;
    text-align: center;
    color: #572EE5;
    border: 1px solid #572EE5;
    margin: 0px 100px 0px 20px;
    font-family: "Montserrat", sans-serif;
  }
  .boton-agregar:hover {
    background-color: #572EE5;
    color: #fff;
  }
  .boton-agregar:active {
    background-color: gray;
    color: #fff;
    border-color: gray;
  }
}

.caja-titulo-mobile {
  width: auto;
  margin: auto;
}

.caja-titulo2-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.titulo1, .titulo2 {
  font-size: 23px;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
}

.titulo-gifos {
  color: #00F3BB;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  margin-left: 7px;
}

.ilustra_header {
  width: 240px;
  height: 200px;
  margin: auto;
  display: block;
  margin-top: -20px;
}

.caja-titulo-desktop {
  display: none;
}

.icon-favoritos {
  margin: auto;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .caja-titulo-mobile, .caja-titulo2-mobile {
    display: none;
  }
  .caja-titulo-desktop {
    display: block;
    margin-top: 50px;
  }
  .caja-titulo2-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .titulo1-desktop, .titulo2-desktop {
    font-size: 26px;
    color: #572EE5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
  }
  .titulo-gifos-desktop {
    color: #00F3BB;
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    margin-left: 7px;
  }
  .ilustra_header {
    width: 300px;
    height: 260px;
  }
}

.icon-search {
  width: 30px;
  height: 30px;
}

.icon-close {
  display: none;
}

#search-input {
  width: 300px;
  height: 40px;
  margin-top: -42px;
  display: block;
  border-radius: 30px;
  border: 1px solid #572EE5;
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  outline: none;
}

.container-sugerencias {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  border: 1px #572EE5 solid;
  display: none;
  position: relative;
  left: 50%;
  margin-left: -150px;
}

.textoSugerenciaStyle {
  color: grey;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0px 0px 20px;
  font-size: 13px;
  font-weight: medium;
}

.textoSugerenciaStyle:hover {
  color: black;
}

.titulo-busqueda {
  color: #572EE5;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 120px;
      grid-template-columns: 100px 120px;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.linea-divisora {
  background-color: #9CAFC3;
  width: 160px;
  height: 1px;
  display: block;
  margin: auto;
  margin-top: 20px;
  opacity: 50%;
}

.gifresults {
  width: 120px;
  height: 120px;
}

#searchBtn {
  margin-top: -30px;
  position: absolute;
  left: 50%;
  margin-left: 115px;
  border: none;
  background-color: transparent;
}

.icon-search {
  width: 15px;
  height: 15px;
}

.vermas {
  width: 100px;
  height: 40px;
  border: 2px solid #572EE5;
  border-radius: 50px;
  background-color: white;
  color: #572EE5;
  position: relative;
  left: 50%;
  margin: 30px 0px 0px -50px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  display: block;
}

.vermas:hover {
  background-color: #572EE5;
  color: white;
}

@media (min-width: 800px) {
  #search-input {
    width: 500px;
    margin-top: -57.5px;
    margin-left: -250px;
  }
  #searchBtn {
    margin-top: -45px;
    margin-left: 220px;
  }
  .results {
    -ms-grid-columns: 170px 170px 170px 170px;
        grid-template-columns: 170px 170px 170px 170px;
    -ms-grid-rows: 170px 170px;
        grid-template-rows: 170px 170px;
  }
  .gifresults {
    width: 170px;
    height: 170px;
  }
  .linea-divisora {
    width: 260px;
  }
}

.contenedor-tendencias {
  background-color: #F3F5F8;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -270px;
}

.contenedor-tendencias-busqueda {
  margin-top: 30px;
  background-color: #F3F5F8;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.titulo-trending {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  margin-bottom: 15px;
}

.descripcion-trending {
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  margin-top: 4px;
}

.slider-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.trending-gif {
  width: 300px;
  height: 200px;
  margin: auto;
  -webkit-transition: 2s;
  transition: 2s;
  vertical-align: top;
}

.direcciones {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direcciones a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

.direcciones a:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0.5);
}

.barras {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background: #dcdde1;
  display: inline-block;
}

.active {
  background-color: #572EE5;
}

.subtitulo-trending {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  margin-top: 30px;
}

.texto-trending {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  text-align: center;
  line-height: 15px;
  margin-top: 10px;
  font-size: 15px;
  margin-right: 5px;
}

.caja-texto-trending {
  display: block;
  margin: auto;
}

@media (min-width: 800px) {
  .contenedor-tendencias {
    margin-top: -390px;
  }
  .contenedor-tendencias-busqueda {
    margin-top: 70px;
  }
}

.caja-expandir {
  width: 100%;
  height: 400px;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: 600px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 95%;
}

.iconClose {
  width: 15px;
  height: 15px;
  float: right;
  margin-right: 35px;
}

.caja-prueba {
  width: 250px;
  height: 200px;
  background: #572EE5;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.boton-popup {
  border: none;
}

.iconoFav-popup, .iconoDownload-popup {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 35px;
  margin-top: 15px;
}

.datospopup {
  margin-left: 35px;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

.compartir {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  font-size: 13px;
}

.compartir2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 40px 0px 20px 0px;
  font-size: 13px;
}

.contenedor-iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  margin: 20px 7px 0px 7px;
  color: #b4b4b4;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
  color: #572EE5;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100vw;
}
/*# sourceMappingURL=styles.css.map */