// SLIDER TRENDING
.contenedor-tendencias{
    background-color: #F3F5F8;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -270px;
}

.contenedor-tendencias-busqueda{
    margin-top: 30px;
    background-color: #F3F5F8;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-trending{
    text-align: center;
    font-family: $font-stack;
    color: $primary-color;
    margin-bottom: 15px;
}

.descripcion-trending{
    text-align: center;
    font-size: 15px;
    font-family: $font-stack;
    margin-top: 4px;
}

.slider-contenedor{
    display: flex;
    position: relative;
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.trending-gif{
    width: 300px;
    height: 200px;
    margin: auto;
    transition: 2s;
    vertical-align: top;
}

.direcciones{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direcciones a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}

.direcciones a:hover{
    transition: .5s;
    background-color: rgba(255, 255, 255, .5);
}

.barras{
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

.barra{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background: #dcdde1;
    display: inline-block;
}

.active{
    background-color: $primary-color;
}
// TRENDING STRING

.subtitulo-trending{
    font-family: $font-stack;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-top: 30px;
}

.texto-trending{
    font-family: $font-stack;
    color: $primary-color;
    text-align: center;
    line-height: 15px;
    margin-top: 10px;
    font-size: 15px;
    margin-right: 5px;
}

.caja-texto-trending{
    display: block;
    margin: auto;
}
@media (min-width: 800px) {
    .contenedor-tendencias{
        margin-top: -390px;
    }

    .contenedor-tendencias-busqueda{
        margin-top: 70px;
    }
}